.course {
  flex: 0.2;
  margin-bottom: 4rem;
  padding: 0 2rem;
  cursor: pointer;

  &__img {
    border: 1px solid lightgray;
  }

  &__author {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #6a6f73;
  }

  &__detail {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__rating {
    font-size: 1.5rem;
    font-weight: 700;
    color: #b4690e;
  }

  &__total-rating {
    font-size: 1.4rem;
  }

  &__price {
    margin-top: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__icon-box {
    * {
      color: #b4690e;
    }
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  margin-top: 1rem;
}
